
body {
    display:flex;
    justify-content: center;
    background-color: black;
    color: white;
}
a {
    color: white;
}

figure {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0, auto;
    flex-wrap: wrap;
    just
}
.spinner {
    width: 100px;
}

.hidden {
    display:none;
}

h1 {
display:block;
justify-content: center;
}

div {
margin: 30px;
}
